Element/Library/
Element/Assembly-CSharp.csproj
Element/obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
Element/obj/Debug/
Element/.vs/Element/v15/Server/sqlite3/db.lock
Element/.vs/Element/v15/
